$brand-primary: #F57C00;
$cta: #FF8C5F;
$black: #191919;
$medium: #53627C;
$white: #ffffff;

$light: #8a94a6;
$lighter: #A6AEBC;
$gray-600: #B5BBC6;
$gray-500: #C9CED6;
$gray-400: #E1E4E8;
$gray-300: #F1F2F4;
$gray-200: #F8F9FB;

$success: #27d086;
$error-color: #ff5f5f;