@import "../../styles/bootstrap-grid";
@import '../../main';

.body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $white;
  color: $black;
  @include Body-text-M;
}

.btn {
  position: relative;
  display: inline-flex;
  border-radius: 6px;
  padding: 0 16px;
  outline: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;

  &__img {
    position: absolute;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
  }

  &--type {

    &_outline {
      color: $black;
      background-color: $white;
      border: solid 1px $gray-400;

      .btn__img path {
        fill: $black;
      }
    }

    &_primary {
      color: $white;
      background-color: $brand-primary;

      .btn__img path {
        fill: $white;
      }
    }

    &_info {
      color: $brand-primary;
      background-color: #ffecc7;

      .btn__img path {
        fill: $brand-primary;
      }
    }
  }

  &--style_section {
    width: 100%;
  }

  &--size {
    &_s {
      height: 32px;
      @include Button-text-S;
    }

    &_m {
      height: 48px;
      @include Button-text-M;
    }
  }

  &--display {

    &_left-icon {
      padding-left: 44px;

      .btn__img {
        left: 14px;
      }
    }

    &_right-icon {
      padding-right: 44px;

      .btn__img {
        right: 14px;
      }
    }
  }
}